.diferenciais {
  position: relative;
}
.diferenciais .span-1::after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: var(--detalhe);
  top: 30px;
  left: 20px;
}
.diferenciais .span-2 {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 40px;
}
.diferenciais h2 {
  text-align: center;
  margin-bottom: 40px;
}
.diferenciais-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.diferenciais-quadrado {
  background-color: var(--cor-p3);
  display: grid;
  place-items: center;
}
.diferenciais-quadrado p {
  text-align: center;
  padding: 0px 40px;
  margin-bottom: 90px;
  min-height: 100px;
}
.diferenciais-quadrado h4 {
  margin-bottom: 35px;
  padding: 0px 20px;
  text-align: center;
}

.diferencias-moldura img {
  padding: 28px;
  border: 4px solid var(--detalhe);
  border-radius: 50%;
  place-self: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .diferenciais .span-1 {
    display: none;
  }

  .diferenciais .span-2 {
    margin-top: 16px;

    margin-bottom: 20px;
  }
  .diferenciais h2 {
    margin-bottom: 26px;
  }

  .diferenciais-quadrado p {
    padding: 0px 10px;
    margin-bottom: 40px;
    min-height: 0px;
  }
  .diferenciais-quadrado h4 {
    margin-bottom: 20px;
  }

  .diferencias-moldura img {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .diferenciais-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
