.sobre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}
.sobre-span {
  position: relative;
}
.sobre-span::after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: var(--detalhe);
  top: 30px;
  left: 0px;
}

.conteudo h2 {
  margin-bottom: 20px;
}
.conteudo p {
  margin-bottom: 28px;
}
.conteudo li {
  display: flex;
  align-items: center;
  background-color: var(--cor-1);
  margin-bottom: 28px;
  padding: 20px 8px;
}
.conteudo li img {
  padding: 0px 28px;
}
.atendimento {
  background-color: var(--cor-p3);
  display: grid;
  margin-top: 80px;
}
.atendimento h2 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 70px;
}
.atendimento .botao {
  justify-self: center;
  margin-bottom: 140px;
}
@media (max-width: 1050px) {
  .sobre-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .conteudo {
    order: 1;
  }
  .sobre-grid .foto {
    order: 2;
  }
  .conteudo p {
    margin-bottom: 14px;
  }
  .conteudo li {
    margin-bottom: 24px;
    padding: 10px 8px;
  }
  .conteudo li img {
    padding: 0px 14px;
  }
  .atendimento h2 {
    padding-top: 50px;
    margin-bottom: 32px;
  }
  .atendimento .botao {
    margin-bottom: 70px;
  }
}
